
<div class="card bg-transparent text-white  border-0" style="max-width: 18rem;">
  
  <div class="card-body">
    <div class="card-title">Products</div>
    <p class="card-text text-white">
      <li id="menu-item-29" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-first menu-item-29"><a href="https://www.homeschooltracker.com/features/">Features and Tour</a></li>
      <li id="menu-item-28" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-28"><a href="https://www.homeschooltracker.com/pricing/">Plans and Pricing</a></li>
    </p>
  </div>
</div>


