.footer-widgets {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 45px;
    color: white;
    background-color: #1b5986;
  }
  .jumbotron{background-color: #414242!important;}

  .card-group {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}
