

<div   *ngIf="!ValidateUserLoginService.isUserLoggedIn()" class="ml-auto" >
  <a href="" class="btn btn-success ml-auto" data-toggle="modal" 
  data-target="#modalLRForm">LogIn/Register</a>
</div>

<!--Modal: Login / Register Form-->
<div  class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" 
      aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal   " style="width:1250px;" role="document">
    <!--Content-->
    <div class="modal-content">

      <!--Modal cascading tabs-->
      <div class="modal-c-tabs">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab"><i class="fas fa-user mr-1"></i>
              Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i class="fas fa-user-plus mr-1"></i>
              Register</a>
          </li>
        </ul>

        <!-- Tab panels -->
        <div class="tab-content">
          <!--Panel 7-->
          <div class="tab-pane fade in show active" id="panel7" role="tabpanel">

            <!--Body-->
            <div class="modal-body mb-1">
              <div class="md-form form-sm mb-1">
                <i class="fas fa-envelope prefix"></i>
                <div class="form-group">
                  <label data-error="wrong" data-success="right" 
                    class="col-xs-2" for="emailField">E-mail</label>
                  <div class="col-xs-10">  
                  <input type="email" id="emailField" class="form-control form-control-sm validate"
                      placeholder="Email" [(ngModel)]="username">
                  </div>
              </div>
              </div>

              <div class="md-form form-sm mb-1">
                <div class="form-group">
                <label data-error="wrong" data-success="right" 
                  class="col-xs-2" for="passwordField">Password</label>
                <i class="fas fa-lock prefix blue-text"></i>
                <div class="col-xs-10">
                <input type="password" id="passwordField" class="form-control form-control-sm validate"
                  placeholder="Password" [(ngModel)]="password">
                </div>
                </div>
              </div>

            </div>
            <!--Footer-->
            <div class="modal-footer">
              <button class="btn btn-info"  (click)="validateUser()">Log in <i class="fas fa-sign-in ml-1"></i></button>
              <button type="button" class="btn btn-outline-info waves-effect ml-2" data-dismiss="modal">Close</button>
            </div>
            <div class="modal-footer">
                <p><a href="#" class="blue-text">Forgot Password?</a>
                 
                </p>
            </div>
            <div class="modal-footer">
              <div class="text-danger">  {{validUserMessage}}   </div>
            </div>
 
            

          </div>
          <!--/.Panel 7-->

          <!--Panel 8-->
          <div class="tab-pane fade" id="panel8" role="tabpanel">

            <!--Body-->
            <div class="modal-body">
              <div class="md-form form-sm mb-5">
                <i class="fas fa-envelope prefix"></i>
                <input type="email" id="modalLRInput12" 
                    class="form-control form-control-sm validate"
                    [(ngModel)]="username">
                <label data-error="wrong" data-success="right" for="modalLRInput12">Your email</label>
              </div>

              <div class="md-form form-sm mb-5">
                <i class="fas fa-lock prefix"></i>
                <input type="password" id="modalLRInput13" 
                  class="form-control form-control-sm validate"
                  [(ngModel)]="password">
                <label data-error="wrong" data-success="right" for="modalLRInput13">Your password</label>
              </div>

              <div class="md-form form-sm mb-4">
                <i class="fas fa-lock prefix"></i>
                <input type="password" id="modalLRInput14" class="form-control form-control-sm validate">
                <label data-error="wrong" data-success="right" for="modalLRInput14">Repeat password</label>
              </div>



            </div>
            <!--Footer-->
            <div class="modal-footer">
              <button class="btn btn-info">Sign up <i class="fas fa-sign-in ml-1"></i></button>
              <button type="button" class="btn btn-outline-info waves-effect ml-2" data-dismiss="modal">Close</button>
            </div>
          </div>
          <!--/.Panel 8-->
        </div>

      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: Login / Register Form-->


