<nav class="navbar navbar-expand-lg navbar-dark  main-nav" style="background-color: #1b5986;">
  <div class="container">
    <!-- <div class="row">
      <span class="float-left">
      <div class="col-sm-6" class="text-left">
        <div class="card"  style="width: 8rem;" >
          <div class="card-body">
              <a class="nav-link" href="#">{{Title}}</a>
          </div>
        </div>
      </div>
    </span>
    </div> -->
  

    <ul class="nav navbar-nav mx-auto">
        <li class="nav-item" style="font-size: xx-large; "><a class="nav-link" href="#">DataStax Dashboard</a></li>
    </ul>

    <span class="float-right">
    <div class="btn-group" role="group" aria-label="Signin Register">
      <button type="button" class="btn btn-success">Sign In</button>
      <button type="button" class="btn btn-secondary">Register</button>
    </div>
    </span>

</div>
  
</nav>
