<div class="card bg-transparent text-white  border-0" style="max-width: 18rem;">
  
  <div class="card-body ">
    <div class="card-title">Resources</div>
    <p class="card-text text-white">
  <li id="menu-item-55" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55"><a href="https://www.homeschooltracker.com/video-tutorials/">Video Tutorials</a></li>
  <li id="menu-item-547" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-547"><a target="_blank" href="http://help.homeschooltracker.com">Help Articles</a></li>
  <li id="menu-item-603" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-603"><a href="https://www.homeschooltracker.com/blog/">Blog</a></li>
  
</p>
</div>
</div>