label {
    display: inline;
    padding: .50em .60em .30em;
    font-size: 100%;
    font-weight: 700;
    line-height: 2;
    color: rgb(0, 0, 0);
    text-align: right;
    white-space: nowrap;
    vertical-align: bottom;
    border-radius: .25em;
  }